<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.tags.title %></title>
  <link rel="icon" href="/projects/trace94/img/favicon.ico">
</head>
<body>
  <%= htmlWebpackPlugin.tags.header %>
  <!--Body section-->
  <section id="sec_bodyM3" class="container py-2 p-0 d-flex animate__animated animate__flipInX">
    <div class="card rounded-0 border-0 w-100">
      <div class="card-header">
        <p class="mb-0 text-center" style="font-family: righte1; margin-top: 0.25rem;">About...</p>
      </div>
      <div class="card-body">
        <div class="row mx-0">

          <section class="col-md-8 col-12 p-1">
            <div class="toast h-100" role="alert" aria-live="assertive" aria-atomic="true" style="border: rgb(4,158,246) solid 2px;">
              <div class="toast-body text-center">
                <p>Trace 94 APP can graph any csv file...</p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam rem amet harum nemo fugiat? Recusandae placeat quasi rerum quae eius. Totam rem explicabo, officia incidunt natus ab temporibus placeat debitis dolore error obcaecati consequatur fugiat quos nihil reprehenderit accusamus quaerat tenetur quidem, fuga, illum mollitia assumenda quisquam numquam. Reprehenderit, doloremque.
              </div>
              <div class="p-2 mt-3 text-right" style="font-size: 16px;">
                More information you can visit: <a class="text-info" href="#" data-toggle="tooltip" data-placement="bottom" title="Abrir pagina...">client.online</a>
              </div>
            </div>
          </section>

          <section class="col-md-4 col-12 p-1">
            <div class="toast h-100" role="alert" aria-live="assertive" aria-atomic="true" style="border: rgb(4,158,246) solid 2px;">
              <div class="toast-body text-center">
                This APP was designed and make by full stack developer <strong>Adbeel Estrada Martinez</strong> member on programmer group αΩ SA de CV.
              </div>
              <div class="text-center">
                <img src="/projects/trace94/img/nav.png" alt="" class="" style="max-height: 100px;">
              </div>
              <div class="px-2 mt-2 text-right" style="font-size: 16px;">
                <p class="mb-0"> 
                  More information about programmer you can visit:
                  <a class="text-info" href="https://eadbeel94.web.app/" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Open developer page">eadbeel94.web.app</a>
                </p> 
              </div>
              <div class="pb-2 px-2 text-right" style="font-size: 16px;">
                <p class="mb-0"> 
                  View documentation:
                  <a class="text-info" href="/projects/trace94/pages/doc/" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Open documentation">documentation</a>
                </p> 
              </div>
            </div>
          </section>


        </div>
      </div>
    </div>
  </section>
  <section id="sec_bodyM32" class="container py-2 p-0 d-flex animate__animated animate__flipInX mb-5">
    <div class="card rounded-0 border-0 w-100"> 
      <div class="card-header">
        <p class="mb-0 text-center" style="font-family: righte1; font-size: 24px;">Technologies</p>
      </div>
      <div class="card-body">
        <div class="row mx-0">

          <section class="col-md-4 col-12 p-1">
            <div class="toast border-secondary h-100" role="alert" aria-live="assertive" aria-atomic="true" >
              <div class="toast-header">
                <strong class="mr-auto">FRONTEND HTML</strong>
              </div>
              <div class="toast-body">
                Common Mark lenguage what build all web
              </div>
            </div>
          </section>

          <section class="col-md-4 col-12 p-1">
            <div class="toast border-secondary h-100" role="alert" aria-live="assertive" aria-atomic="true" >
              <div class="toast-header">
                <strong class="mr-auto">FRONTEND CSS</strong>
              </div>
              <div class="toast-body">
                Style lenguage for improve web visual aspect
              </div>
            </div>
          </section>

          <section class="col-md-4 col-12 p-1">
            <div class="toast border-secondary h-100" role="alert" aria-live="assertive" aria-atomic="true" >
              <div class="toast-header">
                <strong class="mr-auto">FRONTEND JAVASCRIPT</strong>
              </div>
              <div class="toast-body">
                A programming language most popular for get animation into own web
              </div>
            </div>
          </section>

          <section class=" offset-md-2 col-md-4 col-12 p-1">
            <div class="toast border-secondary h-100" role="alert" aria-live="assertive" aria-atomic="true" >
              <div class="toast-header">
                <strong class="mr-auto">BACKEND NODE JS</strong>
              </div>
              <div class="toast-body">
                Javascript into server-side
              </div>
            </div>
          </section>

          <section class="col-md-4 col-12 p-1 ">
            <div class="toast border-secondary h-100" role="alert" aria-live="assertive" aria-atomic="true" >
              <div class="toast-header">
                <strong class="mr-auto">BACKEND FIREBASE</strong>
              </div>
              <div class="toast-body">
                Server less service that include Storage, backend functions, Hosting services and much more.
              </div>
            </div>
          </section>

        </div>
      </div>
      <div class="card-body">
        <div class="row mx-0 justify-content-center">

          <section class="col-md-4 col-12 p-1">
            <div class="toast border-secondary h-100" role="alert" aria-live="assertive" aria-atomic="true" >
              <div class="toast-header">
                <strong class="mr-auto">FRONTEND CSS BOOSTRAP 4</strong>
              </div>
              <div class="toast-body">
                How many styles in a only libraries
              </div>
            </div>
          </section>

          <section class="col-md-4 col-12 p-1">
            <div class="toast border-secondary h-100" role="alert" aria-live="assertive" aria-atomic="true" >
              <div class="toast-header">
                <strong class="mr-auto">FRONTEND CSS FONTAWESOME 5</strong>
              </div>
              <div class="toast-body">
                How many icons for getting a professional WEB
              </div>
            </div>
          </section>

          <section class="col-md-4 col-12 p-1">
            <div class="toast border-secondary h-100" role="alert" aria-live="assertive" aria-atomic="true" >
              <div class="toast-header">
                <strong class="mr-auto">FRONTEND CSS ANIMATE.CSS</strong>
              </div>
              <div class="toast-body">
                Animate WEB objects
              </div>
            </div>
          </section>

          <section class="col-md-4 col-12 p-1">
            <div class="toast border-secondary h-100" role="alert" aria-live="assertive" aria-atomic="true" >
              <div class="toast-header">
                <strong class="mr-auto">FRONTEND PLOTLY JS</strong>
              </div>
              <div class="toast-body">
                Make graphs based on X and Y numeric values
              </div>
            </div>
          </section>

          <section class="col-md-4 col-12 p-1">
            <div class="toast border-dansecondaryer h-100" role="alert" aria-live="assertive" aria-atomic="true" >
              <div class="toast-header">
                <strong class="mr-auto">BACKEND EXPRESS JS</strong>
              </div>
              <div class="toast-body">
                NodeJS framework for use server methods easily
              </div>
            </div>
          </section>

        </div>
      </div>
    </div>
  </section>
  <section id="sec_modal"></section>
  <%= htmlWebpackPlugin.tags.footer %>
</body>
</html>