<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.tags.title %></title>
  <link rel="icon" href="/projects/trace94/img/favicon.ico">
</head>
<body>
  <!--Table section-->
  <section id="sec_body1" class="container-fluid">
    <div id="sec_graph" class="card mt-2 p-2 overflow-auto" style="height: 90vh;"></div>
  </section>
  <!--Footer section-->
  <%= htmlWebpackPlugin.tags.footer %>
</body>
</html>