<!--Footer section-->
<section id="sec_footer" class="container-flow text-secondary w-100 sticky-bottom mt-2 fixed-bottom">
  <div class="card rounded-0 border-0" >
    <div class="container">
      <div class="row mx-0">

        <div class="col-12 text-center">
          <div class="card border-0">
            <div class="row">
              <span class="col-lg-5 pr-3">Trace 94<i class="fas fa-chart-line pl-2"></i></span>  
              <span class="col-lg-7 text-light align-self-center">
                Copyright © 2020. All right reserved. 
                <a href="/projects/trace94/pages/about/" target="_blank" data-toggle="tooltip" data-placement="top" title="Ir a acerca de...">
                  Designed by EADBEEL 2020.
                </a>
              </span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>